<html>
<head>
    <!-- Dirty installation of Semantic from CDN -->
    <meta charset="utf-8" />
    <title>Semantic UI CDN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>
    <!-- Navbar starts -->
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                Multi-project Management
            </a>      
        </div>
    </div>
    <!-- Navbar ends -->

    <!-- Ugly div to avoid navbar overlapping -->
    <div style="height:45px"></div>
    
    <!-- Cards container starts -->
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <i class="right floated mini ui image car icon"></i>
                <div class="header">
                    Project 1
                </div>
                <div class="meta">
                    Progress 52 %
                </div>
                <div class="description">
                    Elliot requested permission to view your contact details
                </div>
            </div>
            <div class="extra content">
            <div class="ui two buttons">
                <div class="ui basic green button">Approve</div>
                <div class="ui basic red button">Decline</div>
            </div>
            </div>
        </div>
    </div>
    <!-- Cards container starts -->
</body>
</html>

